{% extends "mainApp/wrapper.html" %}

{% block content %}
{% load static %}
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<h1>Art generation Application</h1>
<div class="container">
    <div class="row">
        <div class="col-7 col-sm-4">
            <nav class ="navbar bg-dark w-100 h-100">
                <ul class ="nav navbar-nav text-center w-100">
                    <li class ="nav-item p-2">
                        <button id="genetic_algorithm" type="button" class="btn btn-primary w-100">Genetic Algorithm </button>
                    </li>
                    <li class ="nav-item p-2">
                        <button id="pso_algorithm" type="button" class="btn btn-info w-100">Particle Swarm Optimisation </button>
                    </li>
                    <li class ="nav-item p-2">
                        <button id="gan_algorithm" type="button" class="btn btn-warning w-100">Generative Adversarial Network </button>
                    </li>
                    <li class ="nav-item p-2">
                        <button id="can_algorithm" type="button" class="btn btn-success w-100">Creative Adversarial Network </button>
                    </li>
                    <li class ="nav-item p-2 ">
                        <button id="cancel" type="button" class="btn btn-danger btn-block w-100" >Cancel</button>
                    </li>
                    <li class ="nav-item p-2">
                        <div id="genetic_algorithm_params">
                            <div>
                              <div class="form-group">
                                <label for="ga_pop_size">Population Size</label>
                                <input type="number" class="form-control" id="ga_pop_size" aria-describedby="ga_pop_size_help" value="100">
                                <small id="ga_pop_size_help" class="form-text text-muted">Population size for genetic algorithm</small>
                              </div>
                              <div class="form-group">
                                <label for="ga_shapes_size">Shapes Size</label>
                                <input type="number" class="form-control" id="ga_shapes_size" aria-describedby="ga_shapes_size_help" value="300">
                                <small id="ga_pop_shapes_help" class="form-text text-muted">How many shapes will be on the generated image</small>
                              </div>
                              <div class="form-group">
                                <label for="ga_resolution">Resolution</label>
                                <input type="number" class="form-control" id="ga_resolution" value="25">
                              </div>
                              <div class="form-group">
                                <label for="ga_max_iter">Iterations</label>
                                <input type="number" class="form-control" id="ga_max_iter" aria-describedby="ga_max_iter_help" value="5000">
                                <small id="ga_max_iter_help" class="form-text text-muted">The number of generation for algorithm</small>
                              </div>
                              <div class="form-group">
                                <label for="ga_elitism_rate">Elitism Rate</label>
                                <input type="number" class="form-control" id="ga_elitism_rate" aria-describedby="ga_elitism_rate_help" value="0.2">
                                <small id="ga_elitism_rate_help" class="form-text text-muted">Elitism rate in range [0,1]</small>
                              </div>
                              <div class="form-group">
                                <label for="ga_mutation_rate">Mutation Rate</label>
                                <input type="number" class="form-control" id="ga_mutation_rate" aria-describedby="ga_mutation_rate_help" value="0.3">
                                <small id="ga_mutation_rate_help" class="form-text text-muted">Mutation rate in range [0,1]</small>
                              </div>
                              <div class="form-group m-2 mb-4">
                                    <!--<label for="ga_shape">Choose a geometrical 2D shape:</label>
                                    <select id="ga_shape" name="ga_shape_list">
                                      <option value="line">Lines</option>
                                      <option value="circle">Circles</option>
                                      <option value="rectangle">Rectangles</option>
                                    </select>-->
                              </div>

                              <button id="ga_algorithm_run" type="submit" class="btn btn-danger">Run Algorithm</button>
                            </div>
                        </div>
                    </li>
                    <li class ="nav-item p-2">
                        <div id="pso_algorithm_params">
                            <div>
                              <div class="form-group">
                                <label for="pso_imitation_factor">Imitation Factor</label>
                                <input type="number" class="form-control" id="pso_imitation_factor" aria-describedby="pso_imitation_factor_help" value="0.8">
                                <small id="pso_imitation_factor_help" class="form-text text-muted">Imitating the target image, factor in range [0,1]</small>
                              </div>
                              <div class="form-group">
                                  <div class="row">
                                      <div class="col-6">
                                            <label for="pso_width">Width</label>
                                            <input type="number" class="form-control" id="pso_width" aria-describedby="pso_size_help" value="128">
                                      </div>
                                      <div class="col-6">
                                            <label for="pso_width">Height</label>
                                            <input type="number" class="form-control" id="pso_height" aria-describedby="pso_size_help" value="128">
                                      </div>
                                  </div>
                                <small id="pso_size_help" class="form-text text-muted">Generated image size</small>
                              </div>
                              <button id="pso_algorithm_run" type="submit" class="btn btn-danger">Run Algorithm</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-5 col-sm-8">
            <h6 id="iteration_count">Iteration 0</h6>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <img id="target_image_preview" class="img-thumbnail img-responsive w-100 h-100" src="../../../media/target_logo1.jpg" alt="your image" />
                </div>
                <div class="col-xs-6 col-md-6">
                    <img id="generated_image" class="img-thumbnail img-responsive w-100 h-100" src="../../../media/generated_logo.png" alt="generated image"/>
                </div>
            </div>
            <div id="files">
                <label class="form-label" for="uploaded_image">Upload your image here: </label>
                <input id="uploaded_image" type="file" class="form-control" accept="image/*" name="image" onchange="loadPreview(event)">
            </div>
            <div id="ga_description" class="container w-100 mt-5">
                <p>
                    Genetic algorithm description
                </p>
            </div>
            <div id="pso_description" class="container w-100 mt-5">
                <p>
                    PSO algorithm description
                </p>
            </div>
            <div id="gan_description" class="container w-100 mt-5">
                <p>
                    GAN description
                </p>
            </div>
            <div id="can_description" class="container w-100 mt-5">
                <p>
                    GAN description
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock %}