{% extends "mainApp/wrapper.html" %}

{% block content %}
{% load static %}
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<h1>Art generation Application</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-xs-2">
            <nav class ="navbar bg-dark w-100 h-100">
                <ul class ="nav navbar-nav text-center w-100">
                    <li class ="nav-item p-2">
                        <button id="genetic_algorithm" type="button" class="btn btn-primary w-100">Genetic Algorithm </button>
                    </li>
                    <li class ="nav-item p-2">
                        <button id="pso_algorithm" type="button" class="btn btn-info w-100">Particle Swarm Optimisation </button>
                    </li>
                    <li class ="nav-item p-2">
                        <button id="gan_algorithm" type="button" class="btn btn-warning w-100">Generative Adversarial Network </button>
                    </li>
                    <li class ="nav-item p-2">
                        <button id="can_algorithm" type="button" class="btn btn-success w-100">Creative Adversarial Network </button>
                    </li>
                    <li class ="nav-item p-2">
                        <button id="k_means_algorithm" type="button" class="btn btn-light w-100">K-Means image segmentation </button>
                    </li>
                    <li class ="nav-item p-2 ">
                        <button id="cancel" type="button" class="btn btn-danger btn-block w-100" >Cancel</button>
                    </li>
                    <li class ="nav-item p-2">
                        <div id="genetic_algorithm_params">
                            <div>
                              <div class="form-group">
                                <label for="ga_pop_size">Population Size</label>
                                <input type="number" class="form-control" id="ga_pop_size" aria-describedby="ga_pop_size_help" value="100">
                                <small id="ga_pop_size_help" class="form-text text-muted">Population size for genetic algorithm [50, 250]</small>
                              </div>
                              <div class="form-group">
                                <label for="ga_shapes_size">Shapes Size</label>
                                <input type="number" class="form-control" id="ga_shapes_size" aria-describedby="ga_shapes_size_help" value="300">
                                <small id="ga_pop_shapes_help" class="form-text text-muted">How many shapes will be on the generated image [50, 500]</small>
                              </div>
                              <div class="form-group">
                                <label for="ga_resolution">Resolution</label>
                                <input type="number" class="form-control" id="ga_resolution" aria-describedby="ga_resolution_help"  value="25">
                                  <small id="ga_resolution_help" class="form-text text-muted">This parameter has different meaning for different 2D shapes [10, 50]</small>
                              </div>
                              <div class="form-group">
                                <label for="ga_max_iter">Iterations</label>
                                <input type="number" class="form-control" id="ga_max_iter" aria-describedby="ga_max_iter_help" value="5000">
                                <small id="ga_max_iter_help" class="form-text text-muted">The number of generation for algorithm [100,50000]</small>
                              </div>
                              <div class="form-group">
                                <label for="ga_elitism_rate">Elitism Rate</label>
                                <input type="number" class="form-control" id="ga_elitism_rate" aria-describedby="ga_elitism_rate_help" value="0.2">
                                <small id="ga_elitism_rate_help" class="form-text text-muted">Elitism rate in range [0,1]</small>
                              </div>
                              <div class="form-group">
                                <label for="ga_mutation_rate">Mutation Rate</label>
                                <input type="number" class="form-control" id="ga_mutation_rate" aria-describedby="ga_mutation_rate_help" value="0.3">
                                <small id="ga_mutation_rate_help" class="form-text text-muted">Mutation rate in range [0,1]</small>
                              </div>
                              <div class="form-group m-2 mb-4">
                                    <label for="ga_shape">Choose a geometrical 2D shape:</label>
                                    <select id="ga_shape" name="ga_shape_list">
                                      <option value="line">Lines</option>
                                      <option value="circle">Circles</option>
                                      <option value="rectangular">Rectangles</option>
                                    </select>
                              </div>
                              <div class="row">
                                  <div class="col-sm m-1">
                                      <button id="ga_reset_default_params" type="submit" class="btn btn-warning">Reset defaults</button>
                                  </div>
                                  <div class="col-sm m-1">
                                      <button id="ga_algorithm_run" type="submit" class="btn btn-danger">Run Algorithm</button>
                                  </div>
                              </div>
                            </div>
                            <small id="ga_error_msg">
                                Some parameters are not in the accepted range:
                                Please check ranges and run algorithm again
                            </small>
                        </div>
                    </li>
                    <li class ="nav-item p-2">
                        <div id="pso_algorithm_params">
                            <div>
                              <div class="form-group">
                                <label for="pso_imitation_factor">Imitation Factor</label>
                                <input type="number" class="form-control" id="pso_imitation_factor" aria-describedby="pso_imitation_factor_help" value="0.8">
                                <small id="pso_imitation_factor_help" class="form-text text-muted">Imitating the target image, factor in range [0,1]</small>
                              </div>
                              <div class="form-group">
                                <label for="pso_max_iter">Iterations</label>
                                <input type="number" class="form-control" id="pso_max_iter" aria-describedby="pso_max_iter_help" value="150">
                                <small id="pso_max_iter_help" class="form-text text-muted">Maximum number of iterations in range [50,1000]</small>
                              </div>
                              <div class="form-group">
                                  <div class="row">
                                      <div class="col-6">
                                            <label for="pso_width">Width</label>
                                            <input type="number" class="form-control" id="pso_width" aria-describedby="pso_size_help" value="128">
                                      </div>
                                      <div class="col-6">
                                            <label for="pso_width">Height</label>
                                            <input type="number" class="form-control" id="pso_height" aria-describedby="pso_size_help" value="128">
                                      </div>
                                  </div>
                                <small id="pso_size_help" class="form-text text-muted">Generated image size accepted range [64,300]</small>
                              </div>
                                <div class="row">
                                    <div class="col-sm m-1">
                                      <button id="pso_reset_default_params" type="submit" class="btn btn-warning">Reset defaults</button>
                                    </div>
                                    <div class="col-sm m-1">
                                        <button id="pso_algorithm_run" type="submit" class="btn btn-danger">Run Algorithm</button>
                                    </div>
                                </div>
                            </div>
                            <small id="pso_error_msg">
                                Some parameters are not in the accepted range:
                                <br>
                                Imitating factor [0,1]
                                <br>
                                Iterations [50,1000]
                                <br>
                                Width, Height [64,300]
                                <br>
                                Please check ranges and run algorithm again
                            </small>
                        </div>
                    </li>
                    <li class ="nav-item p-2">
                        <div id="k_means_algorithm_params">
                            <div>
                              <div class="form-group">
                                <label for="k_means_n_colors">Number of colors</label>
                                <input type="number" class="form-control" id="k_means_n_colors" aria-describedby="pso_imitation_factor_help" value="4">
                                <small id="k_means_n_colors_help" class="form-text text-muted">Number of colors for segmentation with k-means in range [1,255]</small>
                              </div>
                                <div class="row">
                                    <div class="col-sm m-1">
                                      <button id="k_means_reset_default_params" type="submit" class="btn btn-warning">Reset defaults</button>
                                    </div>
                                    <div class="col-sm m-1">
                                        <button id="k_means_algorithm_run" type="submit" class="btn btn-danger">Run Algorithm</button>
                                    </div>
                                </div>
                            </div>
                            <small id="k_means_error_msg">
                                Some parameters are not in the accepted range:
                                <br>
                                Colors number [1, 255]
                                <br>
                                Please check ranges and run algorithm again
                            </small>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-8 col-xs-10">
            <h5 id="iteration_count"></h5>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <img id="target_image_preview" class="img-thumbnail img-responsive w-100 h-100" src="../../../media/target_logo1.jpg" alt="your image" />
                </div>
                <div class="col-xs-6 col-md-6">
                    <img id="generated_image" class="img-thumbnail img-responsive w-100 h-100" src="../../../media/generated_logo.png" alt="generated image"/>
                </div>
            </div>
            <div id="files">
                <label class="form-label" for="uploaded_image">Upload your image here: </label>
                <input id="uploaded_image" type="file" class="form-control" accept="image/*" name="image" onchange="loadPreview(event)">
            </div>
            <div id="ga_description" class="container w-100 mt-5 overflow-auto">
                <details>
                    <summary>Genetic Algorithm</summary>
                    <small>
                        In computer science and operations research, a genetic algorithm (GA) is a metaheuristic inspired by the process
                        of natural selection that belongs to the larger class of evolutionary algorithms (EA).
                        Genetic algorithms are commonly used to generate high-quality solutions to optimization and search
                        problems by relying on biologically inspired operators such as mutation, crossover and selection.
                    </small>
                </details>
            </div>
            <div id="pso_description" class="container w-100 mt-5 overflow-auto">
                <details>
                    <summary>PSO Algorithm description</summary>
                    <small>
                        In computational science, particle swarm optimization (PSO) is a computational method that optimizes
                        a problem by iteratively trying to improve a candidate solution with regard to a given measure of quality.
                        It solves a problem by having a population of candidate solutions, here dubbed particles, and moving these
                        particles around in the search-space according to simple mathematical formula over the particle's position and
                        velocity. Each particle's movement is influenced by its local best known position, but is also guided toward
                        the best known positions in the search-space, which are updated as better positions are found by other particles.
                        This is expected to move the swarm toward the best solutions.
                        <br>
                        PSO is originally attributed to Kennedy, Eberhart and Shi and was first intended for simulating social behaviour,
                        as a stylized representation of the movement of organisms in a bird flock or fish school.
                        The algorithm was simplified and it was observed to be performing optimization. The book by Kennedy and Eberhart
                        describes many philosophical aspects of PSO and swarm intelligence. An extensive survey of PSO
                        applications is made by Poli. Recently, a comprehensive review on theoretical and experimental works
                        on PSO has been published by Bonyadi and Michalewicz.
                        <br>
                        PSO is a metaheuristic as it makes few or no assumptions about the problem being optimized and can search
                        very large spaces of candidate solutions. Also, PSO does not use the gradient of the problem being optimized,
                        which means PSO does not require that the optimization problem be differentiable as is required by classic
                        optimization methods such as gradient descent and quasi-newton methods. However,
                        metaheuristics such as PSO do not guarantee an optimal solution is ever found.
                    </small>
                </details>
            </div>
            <div id="gan_description" class="container w-100 mt-5 overflow-auto">
                <details>
                    <summary>GAN description</summary>
                    <small>
                        A generative adversarial network (GAN) is a class of machine learning frameworks designed by
                        Ian Goodfellow and his colleagues in 2014.
                        Two neural networks contest with each other in a game
                        (in the form of a zero-sum game, where one agent's gain is another agent's loss).

                        Given a training set, this technique learns to generate new data with the same statistics as the
                        training set. For example, a GAN trained on photographs can generate new photographs that look at
                        least superficially authentic to human observers, having many realistic characteristics.
                        Though originally proposed as a form of generative model for unsupervised learning,
                        GANs have also proven useful for semi-supervised learning, fully supervised learning,
                        and reinforcement learning.

                        The core idea of a GAN is based on the "indirect" training through the discriminator,
                        which itself is also being updated dynamically.
                        This basically means that the generator is not trained to minimize the distance to a
                        specific image, but rather to fool the discriminator.
                        This enables the model to learn in an unsupervised manner.
                    </small>
                </details>
            </div>
            <div id="can_description" class="container w-100 mt-5 overflow-auto">
                <details>
                    <summary>CAN description</summary>
                    <small>
                      CANs are based off of Generative Adversarial Networks (GANs), which were created by
                      Ian Goodfellow and some of his coworkers a few years ago. In order to understand CANs, you need to understand GANs.
                      GANs are a type of neural network that actually consists of two neural networks -- a generator and a discriminator.
                      The discriminator’s job is to take images as input and determine whether they are real or fake
                        (i.e. created by humans or by the generator).
                      The generator’s job is to generate new images that trick the discriminator into thinking they are real.
                    </small>
                </details>
            </div>
        </div>
    </div>
</div>


{% endblock %}